/*--------------------- ESTA APLICADO DESDE 320PX--------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;



}

ul,
ol {
    list-style: none;


}

a {
    text-decoration: none;
}

/*----------------COMIENZO DEL HEADER-------------------*/

header {
    background-color: black;
    color: aliceblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    text-shadow: 10px 20px 10px rgb(0, 0, 0);



}

header h1 {
    text-align: center;
    font-weight: 800;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    font-weight: 600;

}

/*main*/



main {
    background-color: black;
    font-family: 'Open Sans', sans-serif;



}

/*------------------- SECCION NOSOTROS-------------------*/

.nosotros {
    padding: 20px;
    background-color: rgb(8, 10, 12);
    color: aliceblue;
    background: rgb(0, 0, 0);
    background: linear-gradient(321deg, rgba(0, 0, 0, 0.36738445378151263) 0%, rgba(31, 49, 78, 1) 100%);
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(221, 221, 221), 0 -10px 20px #ffffff, 0 -18px 40px rgb(255, 255, 255);
    color: #FFFFFF;
    background: #333333;

}


.nosotros-texto {
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------------- SECCION CONDECORACIONES-------------------*/
.condecoraciones h2 {
    text-align: start;
    background-color: rgb(204, 143, 31);
    color: aliceblue;

    padding: 15px;

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(237, 151, 0, 1) 100%);
    text-shadow: 5px 15px 10px rgb(100, 93, 93);

}

.contenedor-reseña {
    padding: 15px;

    display: flex;
    overflow-x: scroll;

}

.reseña-hotel {
    border: 1px rgb(255, 255, 255) groove;
    border-radius: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;

    margin: 5px 10px;
    padding: 15px;
    
box-shadow: 10px 5px white;

}

.reseña-hotel:hover {
    transform: scale(0.8);
    background: #383535;
}

.reseña-hotel img {
    width: 50%;
}

.reseña-hotel a {
    border: solid 2px aliceblue;
    background-color: silver;
    color: black;
}

/*---------------------SECCION VIDEO-------------------*/


.video {
    text-align: center;
    background-color: rgb(204, 143, 31);
    color: aliceblue;
    padding: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.36738445378151263) 0%, rgba(237, 151, 0, 1) 100%);
    position: relative;
    animation-name: videoMovimiento;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;


}

/*-------------------SECCION PREMIOS--------------------*/

.premios h3 {
    text-align: center;
    background-color: rgb(204, 143, 31);
    color: aliceblue;

    padding: 20px;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 151, 0, 1) 100%);
}

.seccion-premios {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caja-premio {
    border: 2px aliceblue groove;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    color: aliceblue;

    margin: 5px 5px;
    padding: 5px;
    transition-duration: 2s;
    transition-delay: 500ms;

}

.caja-premio:hover {
    transform: scale(0.8);
}

.caja-premio img {
    width: 50%;
}









/*--------------------SECCION POLITICAS-------------------*/

.politicas h2 {
    text-align: center;
    background-color: rgb(204, 143, 31);
    color: aliceblue;

    padding: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.36738445378151263) 0%, rgba(237, 151, 0, 1) 100%);
    

}

.politicas i {
    font-size: 2rem;
    color: aliceblue;
}

.contenedor-politicas {
    color: aliceblue;
    border: groove 1px aliceblue;
    padding: 20px;
    margin: 0 5px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323
}
.contenedor-politicas:hover {
    transform: translateY(80px);
}

/*ANIMACIONES*/

@keyframes videoMovimiento {
    0% {
        top: 0px;
        left: 0px;


    }

    25% {
        top: 0px;
        left: 20px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.367) 0%, rgba(237, 151, 0, 1) 100%);
    }

    50% {
        top: 25px;
        left: 25px;
        background: linear-gradient(90deg, rgb(252, 252, 252) 0%, rgba(237, 151, 0, 1) 100%);
    }

    75% {
        top: 25px;
        left: 0px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.367) 0%, rgba(237, 151, 0, 1) 100%);

    }

    100% {
        top: 0px;
        left: 0px;

    }

}





@media(min-width:1024px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header nav {
        width: 50%;
    }

    /*-----------------------MAIN------------------*/

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 20vw;
        grid-template-rows: repeat(3, 1fr);

        grid-template-areas:
            "nosotros nosotros premios"
            "condecoraciones condecoraciones premios"
            "video politicas politicas";
    }

    /*------------------- SECCION NOSOTROS-------------------*/

    .nosotros {
        grid-area: nosotros;
    }

    .nosotros-texto {
        font-size: 1.5rem;
        text-align: start;
    }

    /*---------------------SECCION CONDECORACIONES-----------*/

    .condecoraciones {
        grid-area: condecoraciones;
    }

    /*---------------SECCION PREMIOS----------------*/
    .premios {

        grid-area: premios;

        min-width: 50px;
    }


    .seccion-premios {
        padding: 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow-x: scroll;

    }

    .caja-premio {
        border: 2px aliceblue groove;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        color: aliceblue;

        margin: 5px 5px;
        padding: 5px;
    }

    /*--------------------SECCION VIDEO---------------*/

    .videos {
        grid-area: video;

    }

    /*------------------------SECCION POLITICAS----------------*/

    .politicas {
        grid-area: politicas;
    }
}